body{
	font-family:verdana;
	font-size:12px;
}

.form1{
	margin:10px;
	width:450px;
	padding:20px;
}

#form{
	border: solid 2px #b7ddf2;
	background:#ebf4fb;
	margin:60 auto;;
	width:400px;
}

#form h1{
	font-size:14 px;
	font-weight:bold;
	margin-bottom:8px;
	border-bottom:solid 1px #b7ddf2;
	padding:10px 20px;
	text-align:center;
}

#form p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	padding-bottom:10px;
}
#form label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}

#form .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}

#form input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border: solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

#form select.highlight {
	background:#F9F9F9;
	border: solid 1px #CCCCCC;
	padding:5px;
	margin-left:10px;
	margin-bottom:10px;
}

#form input.highlight {
	background:#F9F9F9;
	border: solid 1px #CCCCCC;
	padding:5px;
}
#form input.highlight:focus {
	border:solid 1px #D9AD00;
	background:#FFF7D7;
}

#form button {
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:black;
	font-size:11px;
	font-weight:bold;
}
